<main>
    <mat-card>
        <mat-card-header>Bem vindo ao Crud Teste</mat-card-header>
        <mat-card-content>
            <p>
                Este projeto foi desenvolvido com o objetivo de demonstrar conhecimentos práticos nas tecnologias
                Spring Boot
                (Java) no backend e Angular (TypeScript) no frontend, sendo apresentado como parte de um processo de
                seleção
                de emprego.
            </p>
        </mat-card-content>
    </mat-card>
</main>