<main class="user-view">
    <div class="user-profile">
        <h1>Usuarios</h1>
        <section class="user-actions">
            <button class="btn btn-primary" ng-click="addUser()">Novo Usuario</button>
            <button class="btn btn-secondary" ng-click="editUser()">Editar Usuario</button>
            <button class="btn btn-danger" [disabled]="!selectedUserId" 
            (click)="deleteUser(selectedUserId!)">Excluir Usuario</button>
        </section>
    </div>

  
  

<mat-table [dataSource]="users" class="mat-elevation-z8">

  <!-- Nome -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
  </ng-container>

  <!-- Sobrenome -->
  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef> Sobrenome </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.surname }} </mat-cell>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
  </ng-container>

  <!-- Ativo -->
  <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <span [ngClass]="user.active === 1 ? 'badge-success' : 'badge-danger'">
        {{ user.active === 1 ? 'Ativo' : 'Inativo' }}
      </span>
    </mat-cell>
  </ng-container>

  <!-- Perfis -->
  <ng-container matColumnDef="permissions">
    <mat-header-cell *matHeaderCellDef> Perfis </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-chip-listbox>
        <mat-chip class="profiles" *ngFor="let profile of user.permissions">{{ profile.permission }}</mat-chip>
      </mat-chip-listbox>
    </mat-cell>
  </ng-container>

  <!-- Data de Criação -->
  <ng-container matColumnDef="creationData">
    <mat-header-cell *matHeaderCellDef> Data de Criação </mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{ user.creationData | date: 'dd/MM/yyyy' }}
    </mat-cell>
  </ng-container>

  <!-- Cabeçalhos e linhas -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" 
  (click)="onRowClick(row)" [class.selected-row]="row.idUser === selectedUserId"></mat-row>

</mat-table>

</main>