.user-view {
  
  padding: 20px;
}
.badge-success {
  color: white;
  background-color: green;
  padding: 4px 8px;
  border-radius: 12px;
}

.badge-danger {
  color: white;
  background-color: red;
  padding: 4px 8px;
  border-radius: 12px;
}

.profiles{
  margin: 3px;
}
.selected-row {
  background-color: #cce5ff !important;
}
